<div id="host"><!--aquí se colocará el evt click para que sin importar donde le de, pueda irse a la página de desc formal-->
    <div id="image">
        <img style="height: 100%; max-width: 210px;" src="assets/portadaEjemplo.jpg"/>
    </div>
    <div id="description">
        <table>
            <tr>
                <td id="titulo"><!--En realidad hace falta el nombre del libro :v, al filtrar el parámetro del autor será el que cambie en las etiquetas, por el parám por el cual decisió filtrar, fecha de pub, popularidad... a menos que sea por orden alfabético, de manera similar en el perfil, solo que ahí solo se mostrarán dos datos, siempre el nombre del libro y el otro por defecto autor...-->
                    Autor: 
                </td>
                <td id="contenido">
                    name's autor
                </td>
            </tr>
            <tr>
                <td id="titulo">
                    Precio: Q.
                </td>
                <td id="contenido">
                    price
                </td>
            </tr>            
        </table>         
    </div>
</div>
