<div id="host"><!--será útil más que todo si el libro es eli... bueno aunque al final de cuentas se daría cuenta de eso hasta que vuelva a solicitar de nuevo la pag, puesto que no se empleará AJAX por el momento, para tener siempre actualizado el listado de libros...-->
   <!--aquí se enviará el listado por medio de datBinding (padre -> hijo)-->
   <app-libro></app-libro>
   <app-libro></app-libro>
   <app-libro></app-libro>
   <app-libro></app-libro>
   <app-libro></app-libro>
   <app-libro></app-libro>
   <app-libro></app-libro>
   <app-libro></app-libro>
   <app-libro></app-libro>

</div>
